.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pro

{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg");
  width:1500px;
  height:900px;
  background-size: cover;
  padding: 70px;
}
/* .about
{ */
  /* background-image: url("https://cdn.shopify.com/s/files/1/0840/8370/3830/files/1603968734-studio-always-creative-1.jpg"); */
  /* width:100px;
  height:100px; */
  /* background-size:cover; */
  /* padding: 70px;
} */
